@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
*{
    margin: 0;
    padding: 0;
}

/* here we are declaring the CSS variables in the root */

:root{
    --base : #ffc600;
    --spacing : 10px;
    --blur : 10px;
}


body{
    padding-top: 30px;
    text-align: center;
    height: 100vh;
    background: #193549;;
    color: white;
    font-family: 'Irish Grover', cursive;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 40px;
}

.controls{
    margin-bottom: 30px;
}

img{
    padding: var(--spacing);
    background : var(--base);
    filter: blur(var(--blur));
}

.h1{
    color: var(--base);
}